{% extends 'base.html' %}

{%block conteudo-direita%}
<h1 class="mt-5">{{ cliente.animal }}, {{ cliente.raca }}</h1>
<dl>
    <dt>ID</dt>
    <dd>{{ animal.id }}</dd>

    <dt>Dono</dt>
    <dd>{{ animal.dono }}</dd>

    <dt>Nome do animal</dt>
    <dd>{{ animal.animal }}</dd>

    <dt>Espécie</dt>
    <dd>{{ animal.especie }}</dd>

    <dt>Raça</dt>
    <dd>{{ animal.raca }}</dd>

    <dt>Peso</dt>
    <dd>{{ animal.peso }}</dd>

    <dt>Idade</dt>
    <dd>{{ animal.idade }}</dd>

    <dt>Data criação</dt>
    <dd>{{ animal.data_criacao|date:'d/m/Y' }}</dd>

    <dt>Plano</dt>
    <dd>{{ animal.plano }}</dd>

    {% if animal.descricao %}
    <dt>Descrição</dt>
    <dd>{{ animal.descricao }}</dd>
    {% endif %}

    {% if animal.vacina_set.all or animal.consulta_set.all or animal.cirurgia_set.all%}
    <h1 class="mt-5">Histórico</h1>

    {% if animal.vacina_set.all%}
    <dt>Vacinas</dt>

    {% for vacina in animal.vacina_set.all %}
    <thead>
        <tr>
            <td>{{ vacina.vacina }}</td>
            <td>{{ vacina.data }}<br></td>
        </tr>
    </thead>
    {% endfor %}
    {% endif %}

    {% if animal.consulta_set.all%}
    <dt>Consultas</dt>

    {% for consulta in animal.consulta_set.all %}
    <thead>
        <tr>
            <td>{{ consulta.consulta }}</td>
            <td>{{ consulta.data }}<br></td>
        </tr>
    </thead>
    {% endfor %}
    {% endif %}

    {% if animal.cirurgia_set.all%}
    <dt>Cirurgias</dt>

    {% for cirurgia in animal.cirurgia_set.all %}
    <thead>
        <tr>
            <td>{{ cirurgia.cirurgia }}</td>
            <td>{{ cirurgia.data }}<br></td>
        </tr>
    </thead>
    {% endfor %}
    {% endif %}

</dl>

{% endif %}
{%endblock%}